<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilac.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.lilac.domain.entity.RolePermission">
            <id property="id" column="id" />
            <result property="roleId" column="roleId" />
            <result property="permissionId" column="permissionId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,roleId,permissionId
    </sql>

    <select id="selectPermissionsByRoleId" resultType="com.lilac.domain.entity.Permission">
        SELECT p.*
        FROM permission p
        INNER JOIN role_permission rp ON p.id = rp.permissionId
        WHERE rp.roleId = #{roleId}
        ORDER BY p.createTime DESC
    </select>
</mapper>
